.App {
  text-align: center;
  /* overflow: hidden; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body{
  /* display: flex;
  flex-direction: column;
  margin-top: 6rem; */
  width: 100%;
}
label{
  font-size: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.left-half{
  float: left;
  width: 75%;
}

.right-half{
  border: 1rem;
  float: right;
  width: 25%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
